.delivery {

    &__title {
        width: 80%;
        margin: 0% 10%;
        line-height: 73px;
        font-size: 61px;
        text-align: start;
    }

    &__img {
        width: 50%;
        margin: 0% 25% 9%;
    }
}