.howItWork {
    background: #FAFAFA;
    &__title {
        width: 50%;
        margin: 1% 25% 10%;
    }
}

.gallery {
    width: 88%;
    padding: 0% 6%;
    display: flex;
}

.card {
    font-size: 16px;
    line-height: 24px;
    
    &__img {
        margin: auto;
    }

    &__title {
        font-weight: bold;
        margin: 5%;
    }

    &__subtitle {
        margin: 5%;
    }
}
