body {
    font-family: 'Roboto';
}

h6 {
    font-size: 16px;
    line-height: 19px;
    color: #A6A6A6;
    text-align: center;
    margin-bottom: 1%;
}

h2 {
    font-size: 64px;
    line-height: 77px;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}



