.shoppingCard {
    display: flex;
    padding: 0% 20%;
    text-align: start;

    &__content {
        width: 50%;
    }
}

.card {
    width: 50%;

    &__icon {
        width: 15%;
        height: 15%;
    }

    &__summary {
        width: 100%;
        display: flex;
        border-top: 2px solid #E4E4E4;
        border-bottom: 2px solid #E4E4E4;
        justify-content: space-between;
    }

    &__button {
        width: 100%;
        padding: 5% 10%;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
}