@charset "UTF-8";
body {
  font-family: "Roboto";
}

h6 {
  font-size: 16px;
  line-height: 19px;
  color: #A6A6A6;
  text-align: center;
  margin-bottom: 1%;
}

h2 {
  font-size: 64px;
  line-height: 77px;
  text-align: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 45%;
  margin-left: 5%;
}
.header__button {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  background-color: white;
  margin-left: 3%;
  padding: 1% 5%;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.button:hover {
  background-color: black;
  color: white;
  margin-left: 3%;
  padding: 1% 5%;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.checkbox-ios {
  margin: 50%;
  display: inline-block;
  height: 10%;
  position: relative;
  vertical-align: middle;
}

.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid white;
  border-radius: 25%/50%;
  vertical-align: top;
  background: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkbox-ios .checkbox-ios-switch:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.checkbox-ios input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
  background: black;
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

/* Hover */
.checkbox-ios input[type=checkbox]:not(:disabled) + .checkbox-ios-switch {
  cursor: pointer;
  border-color: white;
}

/* Disabled */
.checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  border-color: white;
}

.checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch:before {
  background: #eee;
}

/* Focus */
.checkbox-ios.focused .checkbox-ios-switch:before {
  -webkit-box-shadow: inset 0px 0px 4px #ff5623;
          box-shadow: inset 0px 0px 4px #ff5623;
}

.introductionLocalli__title {
  width: 50%;
  margin: 0% 25%;
}
.introductionLocalli__subtitle {
  width: 60%;
  margin: 2% 20%;
  color: #212529;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.introductionLocalli__content {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.introductionLocalli__img {
  width: 88%;
  margin: 2% 6%;
}

.delivery__title {
  width: 80%;
  margin: 0% 10%;
  line-height: 73px;
  font-size: 61px;
  text-align: start;
}
.delivery__img {
  width: 50%;
  margin: 0% 25% 9%;
}

.howItWork {
  background: #FAFAFA;
}
.howItWork__title {
  width: 50%;
  margin: 1% 25% 10%;
}

.gallery {
  width: 88%;
  padding: 0% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  font-size: 16px;
  line-height: 24px;
}
.card__img {
  margin: auto;
}
.card__title {
  font-weight: bold;
  margin: 5%;
}
.card__subtitle {
  margin: 5%;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}
.block__content {
  width: 50%;
}
.block__title {
  width: 80%;
  margin: 0% 10% 0% 10%;
  text-align: start;
}
.block__subtitle {
  width: 90%;
  margin: 3% 10% 3%;
  font-size: 16px;
  line-height: 24px;
}
.block__btn {
  margin-left: 15%;
}
.block__img {
  width: 40%;
  padding: 0% 5%;
}

.shoppingCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 10%;
  text-align: start;
  margin-top: 10%;
}
.shoppingCard__content {
  width: 46%;
  margin: 0% 2% 0% 2%;
}
.shoppingCard__title {
  width: 100%;
}

.card {
  width: 49%;
  margin-right: 1%;
}
.card__icon {
  width: 12%;
  height: 11%;
}
.card__summary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__button {
  width: 100%;
  padding: 3% 10%;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 3% 0% 0% 0%;
}
.card__button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.form {
  border: 2px solid #E4E4E4;
  border-radius: 10px;
  color: #E4E4E4;
  padding-top: 3%;
}
.form__input {
  width: 90%;
  border: none;
  margin: 3% 5%;
}
.form__input:focus {
  outline: none;
}
.form__title {
  font-size: 20px;
  margin: 5% 5%;
}

.shipMethod {
  border: 2px solid #E4E4E4;
  border-radius: 10px;
}
.shipMethod__title {
  display: block;
  margin-left: 10%;
  text-align: start;
  font-size: 16px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 5%;
  cursor: pointer;
  font-size: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #E4E4E4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Скрыть переключатель браузера по умолчанию */
.container input {
  opacity: 0;
  cursor: pointer;
}

/* Создание пользовательского переключателя */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #eee;
  border-radius: 50%;
  margin: 3% 5%;
}

.container input:checked ~ .checkmark {
  background-color: black;
}

/* Создайте индикатор (точка/круг-скрыт, если не установлен флажок) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Показывать индикатор (точка / круг), когда он установлен */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Стиль индикатора (точка / круг) */
.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}

.dropDown {
  height: 30%;
  border: 2px solid #E4E4E4;
  background-color: white;
  border-radius: 10px;
  margin-top: 1%;
  color: #444;
  cursor: pointer;
  padding: 1%;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__title {
  width: 60%;
  margin: 10% 20% 0%;
}
.map__subtitle {
  width: 40%;
  margin: 2% 30%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.map__img {
  width: 90%;
  margin: 0% 5% 5%;
}

.faq {
  width: 50%;
  margin: 0% 25% 15%;
  font-size: 20px;
  line-height: 30px;
}
.faq__title {
  margin-top: 1%;
}

.accordion {
  width: 98%;
  color: #444;
  cursor: pointer;
  padding: 1%;
  text-align: left;
  border-bottom: 2px solid black;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.request {
  width: 90%;
  padding: 0% 5%;
}

.block__name {
  text-align: start;
  margin-left: 10%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15% 10% 5%;
  border-top: 2px solid #E5E5E5;
  padding-top: 5%;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo-content {
  width: 50%;
}
.footer__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20%;
}

.black-theme {
  background-color: black;
}
.black-theme p, .black-theme h1, .black-theme h2, .black-theme h6 {
  color: white;
}
.black-theme__text {
  color: white;
}
.black-theme input {
  background-color: black;
  color: #E4E4E4;
}
.black-theme__btn {
  color: white;
}
.black-theme__btn:hover {
  color: black;
}

.telega-black {
  fill: white;
}

.button-black {
  background-color: black;
  padding: 1% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  color: white;
  border: 2px solid black;
}

.button-black:hover {
  background-color: white;
  fill: black;
  color: black;
  margin-left: 3%;
  padding: 1% 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.accordion-black {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.dropDown-black {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.card__button {
  padding: 3% 0% 3% 0%;
}